*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body{
	margin: 0;
	padding:0;
}

html{
	overflow-y: scroll;
}
/*****Navigation*****/
header{
	margin-top: 0;
	background-color: black;
	color:white;
	font-family: 'Ubuntu', sans-serif;
	padding: 15px;
}

header a{
	color:white;
	text-decoration: none;
}


nav{
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	
}

.logo a{
	color:white;
	font-size: 2rem;
}

ul{
	align-items: center;
}

li{
	list-style: none;
	display: inline-block;
}

li .naviList{
	font-size: 1rem;
	margin-right: 25px;
	margin-left: 25px;
	padding: 5px;
	font-weight: 700;
	/* padding-bottom: 0; */
}

.naviList:hover{
	/* background-color: white;
	color: #041C32; */
	/* border-radius: 15px; */
	border-bottom: 5px solid white;
	transition: 0.3s;
}

/* .home-active{
	border-bottom: 5px solid white;
} */

.pic-position{
	float: right;
	/* border: 5px solid black; */
	position: absolute;
	top:14%;
	left:55%;
	padding-bottom: 0;
	margin-bottom: 0;
}

.background-color{
	background-color: black;
	height: 100vh;
	margin: 0;
	padding: 0;
	
}

.profile{
	height: 86vh;
	padding-bottom: 0;
	margin-bottom: 0;
}

.hero{
	display: inline-block;
	position: absolute;
	top:40%;
	left: 14%;;
	text-align: center;
}

.head-title{
	font-size: 5rem;
	color: aliceblue;
	font-family: 'Righteous', cursive;
	letter-spacing: 5px;
	
}

.head-info{
	font-size:2rem ;
	color:aliceblue;
	font-family: 'Ubuntu', sans-serif;
	
	
}
.great{
	text-align: center;
	color:aliceblue;
	font-family: 'Righteous', cursive;
	font-size: 2rem;
	/* position: absolute;
	bottom:80%; */
}

#particles-js{
	height: 87vh;
	background-color: black;
	/* position:absolute; */
	
}

.head-particle{
	border: 1px solid white;
	position: absolute;
	top:150%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4rem;
}

.btn-botton{
	padding: 10px;
	border-radius: 10px;
	float: left;
	font-family: 'Righteous', cursive;
}

.demopadding {
	margin:10px auto;
	width:140px;
	text-align:center;
	
  }

.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
	margin: 20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px; 
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
	color:#FFFFFF;
}

.icon i {
	font-size:23px;
	position:absolute;
	left:9px;
	top:10px;
	
	
}

.icon.social {
	float:left;
	margin:0 5px 0 0;
	cursor:pointer;
	background:white ;
	color:#262626;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	
}

.icon.social:hover {
	background:#262626 ;
	color:white;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
}

.fb{
	position: relative;
	right: 20%;
}

.gt{
	position: relative;
	left: 20%;
}
.icon.social.fb i {
	left:13px;
	top:10px;
}
.icon.social.ig i {
	left:10px;
}
.icon.social.gt i {
	left:10px;
	top: 8px;
	font-size: 25px;
}

.socmedlogo{
	color:black;
}
.socmedlogo:hover{
	color:white;
}

/*****Projects*****/
.projects-background{
	height: 100vh;
	background-color:white;
}

.heading-project{
	font-size: 2rem;
	font-family: 'Righteous', cursive;
	width: 50%;
	
}

.head-project{
	position: relative;
	/* left:10%; */
	padding-left: 25px;
	top:4%;
}

.yourName{
	width: 600px;
	padding-right: 0;
	margin-right: 0;
	border-radius: 25px;
	
}

.project-image{
	border: 5px solid black;
	width: 100%;
	border-radius: 25px;
	
}

.container{

	text-align: center;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	position: relative;
	top:20%;
	font-family: 'Righteous', cursive;
	flex-wrap: wrap;
	align-items: center;

}

footer{
	background-color: black;
	height: 20vh;
}

.credits{
	color:white;
	padding:70px 0;
	text-align: center;
	padding-bottom: 0;
}

/*****About Me*****/
/* .aboutMe-active{
	border-bottom: 5px solid white;
} */

.aboutMe-Head{
	font-size: 2rem;
	font-family: 'Righteous', cursive;
	width: 50%;
	position: relative;
	top:15%;
	padding-left: 25px;
	
}

.aboutMe-div > h1{
	position: absolute;
	top:15%;
}

.aboutMe-container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color:aliceblue;
	
	
}

.textbox{
	border-radius: 20px;
	text-align: justify;
}

.wrapper{
	
	background-color: black;
	margin:170px auto;
	width: 75%;
	padding: 30px;
	border-radius: 20px;
	position: relative;
	bottom: 10%;
	
}

.textbox h2{
	font-size: 2.5rem;
}

.textbox p{
	font-size: 1rem;
}

.aboutMe-pic{
	float: left;
	max-width:500px;
	border: 2px solid whitesmoke;
	border-radius: 20px;
	margin-right: 10px;
}

/*****Contact*****/
.contact-Head{
	font-size: 2rem;
	font-family: 'Righteous', cursive;
	width: 50%;
	position: absolute;
	top:15%;
	padding-left: 25px;
	color: whitesmoke;
	
}


.contact{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	/* color: aliceblue; */
	background-color: black;
	padding: 10px;
	font-family: 'Righteous', cursive;
}

.contact-container{
	max-width: 700px;
	width: 100%;
	background-color: white;
	padding: 25px 30px;
	border-radius: 5px;
	position: relative;
	top: 10%;
}

.contact-container .contact-title{
	font-size: 1.5rem;
	font-weight: 500;
	position: relative;
}

.contact-container .contact-title::before{
	content: '';
	position:absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	background-color: black;
}

.contact-container form .user-details{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	/* font-size: 1em; */
	margin:20px 0 12px 0 ;
}

form .user-details .input-box{
	width: cal(100% / 2 - 20px);
	margin-bottom: 15px;
	
}

.user-details .input-box input{
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	padding-left: 15px;
	font-size: 1rem;
}

textarea{
	font-size: 1rem;
	padding-left: 15px;}


.user-details .input-box .details{
	margin-bottom: 5px;
	display: block;
}

.btn{
	padding: 10px;
	width: 50%;
	color: aliceblue;
	background-color: black;
	border-radius: 15px;
}

.btn:hover{
	background-color: gray;
}

.center-btn{
	display: flex;
	justify-content: center;
}




/* .user-details{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: green;
	text-align: left;
	
	
}

.user-details input{
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	
}

.user-details label{
	
	margin-right: 20px;
	
} */

#message{
	padding-bottom: 120px;
	padding-right: 50px;
	height: 200px;
	margin: 0;
	width: 100%;
}


.input-box{
	margin: 10px;
	position: relative;
	bottom: 20%;
}



@media (max-width:600px){
	.logo a{
		color:white;
		font-size: 1.5rem;
		padding-bottom: 50px;
	}

	.robot{
		display: none;
	}

	header{
		/* background-color: aquamarine; */
		display: block;
	}

	nav{
	display: inline-block;
	justify-content: space-around;
	padding-left: 0px;
	padding-right:0px;
	}

	
li{
	list-style: none;
	display: inline;
}

li .naviList{
	font-size: 15px;
	margin-right:5px;
	margin-left: 5px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 700;

	/* padding-bottom: 0; */
}

.naviList:hover{
	border-bottom: 0px solid white;
}

ul{
	align-items: center;
	
	width: 100%;
}

.profile{
	display: none;
}

.hero{
	position: absolute;
	top:40%;
	left: 7%;;
	text-align: center;
}

.head-title{
	font-size:3rem;
	letter-spacing: 5px;
	
}

.head-info{
	font-size:1rem ;
	color:aliceblue;
	
	
}

.logo{
	margin-bottom: 20px;;
}

.yourName{
	width: 100%;
}

.container{

	align-items: center;
	gap: 50px;
	position: relative;
	top:6%;
}

.aboutMe-container{
	position: absolute;
	top:40%;
}

.wrapper{
	width: 80%;
}

.contact-container{
	position: relative;
	top:20%
}

.wrapper{
	top:1%;
	
	width: 90%;
}

.contact-container{
	top:25%
}

}